#enemy-select-h2, #enemy-select {
  display: none;
}

#fight-data {
  display: none;
}

#your-char-h2 {
  display: none;
}

#current-enemy-h2 {
  display: none;
}

#logo {
  height: 100px;
}

#subtitle {
  font-size: 1.2em;
  color: #bbb;
}