#enemy-select-h2, #enemy-select {
  display: none;
}

#fight-data {
  display: none;
}

#your-char-h2 {
  display: none;
}

#current-enemy-h2 {
  display: none;
}

#logo {
  height: 100px;
}

#subtitle {
  font-size: 1.2em;
  color: #bbb;
}

#game-space {
  border: solid 1px #aa0000;
  margin-bottom: 48px;
}